.logo{
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
a:link{
  color:black;
}
a:visited{
  color:black;
}
a{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
