.Header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: thin solid black;
}
.Header p{
  color: MediumAquamarine;
}
a:link{
  color:black;
}
a:visited{
  color:black;
}
#flex{
  display: flex;
  align-items: center;
}
nav span{
  margin: 0 8px;
}
.left{
  flex-grow: 1;
  margin: 0 20px;
}
.right{
  flex-grow: 10;
}
.center{
  flex-grow: 300;
}
.column.large {
  width: 630px;
  border: thin solid black;
}

.column.medium {
  width: 300px;
  border: thin solid black;
}

.column.small {
  width: 240px;
  border: thin solid black;
}
