.Header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.Header p{
  color: MediumAquamarine;
}
a:link{
  color:black;
}
a:visited{
  color:black;
}
#flex{
  display: flex;
  align-items: center;
}

.item {
  height: 100px;
  width: 80px;

}
.logo {
  height: 125px;
  width: 80px;
}
.space {
  height: 125px;
  width: 900px;
}
